<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      {{
        "" //---------------------------------------------email----------------------------------//
      }}
      <div class="form-group col">
        <label for="email">E-mail</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
      </div>

      {{
        "" //---------------------------------------------------password----------------------------//
      }}

      <div class="form-group col">
        <label for="password">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>

      {{
        "" //-------------------------------------------------confirm password------------------------------//
      }}

      <div class="form-group col">
        <label for="confirm_password">Confirm password</label>
        <input
          type="password"
          formControlName="confirm_password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }"
        />
        <div
          *ngIf="submitted && f.confirm_password.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.confirm_password.errors.required">
            Confirm Password is required
          </div>
        </div>
      </div>

      {{
        "" //--------------------------------------------------nickname-----------------------------//
      }}

      <div class="form-group col">
        <label for="nickname">Nickname</label>
        <input
          type="text"
          formControlName="nickname"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.nickname.errors }"
        />
        <div *ngIf="submitted && f.nickname.errors" class="invalid-feedback">
          <div *ngIf="f.nickname.errors.required">Nickname is required</div>
        </div>
      </div>

      {{
        "" //----------------------------------------------phone number---------------------------------//
      }}

      <div class="form-group col">
        <label for="phone_number">Phone Number</label>
        <input
          type="text"
          formControlName="phone_number"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }"
        />
        <div
          *ngIf="submitted && f.phone_number.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.phone_number.errors.required">
            Phone Number is required
          </div>
        </div>
      </div>

      {{
        "" //-----------------------------------------------website--------------------------------//
      }}

      <div class="form-group col">
        <label for="website">Website</label>
        <input
          type="text"
          formControlName="website"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.website.errors }"
        />
        <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
          <div *ngIf="f.website.errors.required">Website is required</div>
        </div>
      </div>

      {{
        "" //---------------------------------------------------------------registration----------------//
      }}

      <div class="agreement">
        <input type="checkbox" id="agreement" formControlName="checkbox" />
        <label class="agree" for="agreement"
          >I have read the <a href="" id="button">agreement</a></label
        >
      </div>

      <div class="form-group">
        <button
          [disabled]="loading"
          [disabled]="
            !form.get('confirm_password')?.valid || !form.get('checkbox')?.value
          "
          class="btn btn-primary"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Register
        </button>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
